<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Open Trivia
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Open Trivia</ion-title>
        </ion-toolbar>
    </ion-header>


    <div id="formulaire"
    >

        <div class="content">
            <ion-item id="input_pseudo">
                <ion-label position="floating">Votre pseudo</ion-label>
                <ion-input [(ngModel)]="pseudo"></ion-input>
            </ion-item>

            <ion-item id="select_difficulte">
                <ion-label>Difficulté</ion-label>
                <ion-select [(ngModel)]="difficulte" interface="action-sheet">
                    <ion-select-option value="easy">Easy</ion-select-option>
                    <ion-select-option value="medium">Medium</ion-select-option>
                    <ion-select-option value="hard">Hard</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item id="check_box_enregistrer">
                <ion-label>Enregistrer mes informations</ion-label>
                <ion-checkbox color="primary" slot="start" [(ngModel)]="save_infos"></ion-checkbox>
            </ion-item>
        </div>

        <div class="btn-div">
            <ion-button id="button_commencer" expand="block" color="success" (click)="checkForm()">
                Commencer
            </ion-button>
        </div>
    </div>

    <!--    <app-questionnaire *ngIf="form_validated" id="questionnaire" [pseudo]="pseudo" [difficulty]="difficulte"-->
    <!--                       (form_validated)="recommencer()"></app-questionnaire>-->

</ion-content>
