#formulaire {
  text-align: start;
  position: absolute;
  left: 0;
  right: 0;
  height: 65%;
}

#questionnaire {
  padding: 1rem;
}

#formulaire strong {
  font-size: 20px;
  line-height: 26px;
}

#formulaire p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#formulaire a {
  text-decoration: none;
}

#select_difficulte {
  margin-top: 1rem;
}

#input_pseudo {
  margin-top: 1rem;
}

#check_box_enregistrer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#button_commencer {
  margin-top: 3rem;
  padding: 0 1rem;
}

#error_form {
  margin-left: 1rem;
}

.btn-div {
  height: 10%;
}

.content {
  height: 90%;
}