<ion-text id="bienvenue">Bienvenue {{pseudo}}</ion-text>

<ion-list id="radio_reponses">
    <ion-radio-group name="radio-group" #radioGroup>
        <ion-list-header>
            <ion-label>Quelle est la couleur du cheval blanc d'Henry IV ?</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let item of responses" >
            <ion-label>{{item}}</ion-label>
            <ion-radio slot="start" name="{{item}}" value="{{item}}" (click)="respond(item)"
            ></ion-radio>
        </ion-item>

    </ion-radio-group>
</ion-list>

<ion-button id="button_valider" expand="block" (click)="ValidateResponse()">Question suivante</ion-button>

<ion-text id="reponse">{{reponse}}</ion-text>



